# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env

# PyCharm settings
.idea/

# Log files
*.log

# faiss vector store
faiss_index/

# Cache
*.cache/
.cache/
*.pyc

# Streamlit specific
.streamlit/config.toml
